<div>
  <ul class="pagination">
    <li class="{{page === 1 ? 'page-item disabled' : 'page-item'}}">
      <a class="page-link" (click)="previous()">&laquo;</a>
    </li>
	<li class="{{i + 1 === page ? 'page-item active' : 'page-item'}}" *ngFor="let item of array(totalPages); let i = index;">
	  <a class="page-link" (click)="goToPage(i+1)">{{i+1}}</a>
	</li>
    <li class="{{page === totalPages ? 'page-item disabled' : 'page-item'}}">
      <a class="page-link" (click)="next()">&raquo;</a>
    </li>
  </ul>
</div>